<footer class="main-footer">
  <div class="container">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0β
    </div>
    <strong>Copyright &copy; 2017 <a href="http://www.net-get.com">Net-get & Hidenori Tachi</a>.</strong> All rights
    reserved.
  </div>
  <!-- /.container -->
</footer>
